@font-face {
  font-family: PTSans;
  src: url(/fonts/PTSans-Regular.ttf);
}

@font-face {
  font-family: PTSans;
  src: url(/fonts/PTSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: NovaCut;
  src: url(/fonts/NovaCut-Regular.ttf);
}

.myclass_novacut {
  font-family: NovaCut;
}
.myclass_ptsans {
  font-family: PTSans;
}
